 body {
    text-align: center;
    margin: 100px;
    background-size: cover;
}
h1 {
    color: Red;
}
label {
    color:black;
    font-size: 30px;
    
}
 
button {
    width: 15%;
    color: white;
    background-color:gray;
    font-size: 20px;
}


